fieldset.size-field-field-set
  h5( data-bind = 'text : fieldName' )
  label W
    input( type = 'number', data-bind = 'value : width' )
  label H
    input( type = 'number', data-bind = 'value : height' )
