/* http://www.colourlovers.com/palette/46688/fresh_cut_day */
/* UTILITIES */
.unstyled-list {
  list-style-type: none;
  list-style-position: outside;
  padding: 0px;
}
.pad-right {
  padding-right: 15px;
}
.margin-right {
  margin-right: 15px;
}
.margin-left {
  margin-left: 15px;
}
/* FORM STYLES */
/* BODY STYLES */
body {
  background-color: #f9f2e7;
}
/* LOADING OVERLAY */
.loading-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #40c0cb;
  opacity: 0.3;
  text-align: center;
}
/* GAME LIST */
.game-list-container {
  margin-top: 45px;
}
.game-list-container ul.game-list-list {
  list-style-type: none;
  list-style-position: outside;
  padding: 0px;
}
.game-list-container ul.game-list-list > li {
  width: 60%;
  text-align: center;
  padding: 25px;
  border-radius: 20px;
  background-color: #00a8c6;
  border: 1px solid #009fbc;
  color: #f9f2e7;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.5em;
  margin-bottom: 25px;
}
.game-list-container ul.game-list-list > li:hover {
  background-color: #00bee0;
}
.game-list-container ul.game-list-list > li:active {
  background-color: #0092ad;
  box-shadow: 0px 0px 2px 4px #007d93 inset;
}
.game-list-container .new-game-form-container {
  width: 60%;
  text-align: center;
  padding: 25px;
  border-radius: 20px;
  background-color: #40c0cb;
  border: 1px solid #38bdc9;
  color: #f9f2e7;
  cursor: pointer;
}
.game-list-container .new-game-form-container:hover {
  background-color: #54c7d0;
}
.game-list-container .new-game-form-container:active {
  background-color: #34b3be;
  box-shadow: 0px 0px 2px 4px #2ea0aa inset;
}
.game-list-container .new-game-form label {
  font-size: 2.5em;
  display: block;
  margin: 0 auto 15px auto;
}
.game-list-container .new-game-form label input[type="text"] {
  width: 50%;
  margin-left: 25px;
}
.game-list-container .new-game-form label input[type="number"] {
  width: 50%;
  margin-left: 25px;
}
.game-list-container .new-game-form label select {
  font-size: 2.5em;
  margin-left: 25px;
}
.game-list-container .new-game-form fieldset.inline label {
  display: inline;
  margin-right: 10px;
  margin-bottom: 10px;
}
.game-list-container .new-game-form fieldset.inline input[type="text"] {
  width: 20%;
  margin-left: 10px;
  margin-bottom: 10px;
}
.game-list-container .new-game-form fieldset.inline input[type="number"] {
  width: 20%;
  margin-left: 10px;
  margin-bottom: 10px;
}
.game-list-container .new-game-form button[type="submit"] {
  font-size: 2.5em;
}
/* GAME BUILDER DASHBOARD */
.dashboard .dashboard-container {
  margin-top: 45px;
}
.dashboard h1 {
  font-size: 4em;
  color: #ead1aa;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.dashboard-button-1 {
  width: 60%;
  text-align: center;
  padding: 25px;
  border-radius: 20px;
  background-color: #8fbe00;
  border: 1px solid #87b400;
  color: #f9f2e7;
  cursor: pointer;
  margin: 15px auto;
  font-size: 5em;
}
.dashboard-button-1:hover {
  background-color: #a2d800;
}
.dashboard-button-1:active {
  background-color: #7ca500;
  box-shadow: 0px 0px 2px 4px #698b00 inset;
}
.dashboard-button-2 {
  width: 60%;
  text-align: center;
  padding: 25px;
  border-radius: 20px;
  background-color: #83af00;
  border: 1px solid #7ca400;
  color: #f9f2e7;
  cursor: pointer;
  margin: 15px auto;
  font-size: 5em;
}
.dashboard-button-2:hover {
  background-color: #97c800;
}
.dashboard-button-2:active {
  background-color: #709500;
  box-shadow: 0px 0px 2px 4px #5d7c00 inset;
}
.dashboard-button-3 {
  width: 60%;
  text-align: center;
  padding: 25px;
  border-radius: 20px;
  background-color: #789f00;
  border: 1px solid #709500;
  color: #f9f2e7;
  cursor: pointer;
  margin: 15px auto;
  font-size: 5em;
}
.dashboard-button-3:hover {
  background-color: #8bb900;
}
.dashboard-button-3:active {
  background-color: #658600;
  box-shadow: 0px 0px 2px 4px #526c00 inset;
}
.dashboard-button-4 {
  width: 60%;
  text-align: center;
  padding: 25px;
  border-radius: 20px;
  background-color: #6c9000;
  border: 1px solid #658600;
  color: #f9f2e7;
  cursor: pointer;
  margin: 15px auto;
  font-size: 5em;
}
.dashboard-button-4:hover {
  background-color: #80aa00;
}
.dashboard-button-4:active {
  background-color: #597700;
  box-shadow: 0px 0px 2px 4px #465d00 inset;
}
.dashboard-button-5 {
  width: 60%;
  text-align: center;
  padding: 25px;
  border-radius: 20px;
  background-color: #618100;
  border: 1px solid #597700;
  color: #f9f2e7;
  cursor: pointer;
  margin: 15px auto;
  font-size: 5em;
}
.dashboard-button-5:hover {
  background-color: #749a00;
}
.dashboard-button-5:active {
  background-color: #4e6700;
  box-shadow: 0px 0px 2px 4px #3b4e00 inset;
}
/* GAME BUILDER NAVIGATION */
.game-builder-navigation {
  background-color: #f4e7d3;
  padding: 10px;
}
.game-builder-navigation ul.navigation-list {
  list-style-type: none;
  list-style-position: outside;
  padding: 0px;
}
.game-builder-navigation ul.navigation-list li {
  float: left;
  margin-right: 15px;
}
/* SCREEN MANAGER */
.screen-manager-container {
  margin-top: 25px;
}
.screen-manager-container ul.screen-list {
  list-style-type: none;
  list-style-position: outside;
  padding: 0px;
}
.screen-manager-container ul.screen-list .screen-list-item {
  width: 60%;
  text-align: center;
  padding: 25px;
  border-radius: 20px;
  background-color: #00a8c6;
  border: 1px solid #009fbc;
  color: #f9f2e7;
  cursor: pointer;
  width: auto;
  float: left;
  font-size: 2.5em;
  margin: 0px 25px 25px 0px;
}
.screen-manager-container ul.screen-list .screen-list-item:hover {
  background-color: #00bee0;
}
.screen-manager-container ul.screen-list .screen-list-item:active {
  background-color: #0092ad;
  box-shadow: 0px 0px 2px 4px #007d93 inset;
}
.screen-manager-container .new-screen-form-container {
  width: 60%;
  text-align: center;
  padding: 25px;
  border-radius: 20px;
  background-color: #40c0cb;
  border: 1px solid #38bdc9;
  color: #f9f2e7;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
.screen-manager-container .new-screen-form-container:hover {
  background-color: #54c7d0;
}
.screen-manager-container .new-screen-form-container:active {
  background-color: #34b3be;
  box-shadow: 0px 0px 2px 4px #2ea0aa inset;
}
.screen-manager-container .new-screen-form-container form label {
  font-size: 2.5em;
  display: block;
  margin: 0 auto 15px auto;
}
.screen-manager-container .new-screen-form-container form label input[type="text"] {
  width: 50%;
  margin-left: 25px;
}
.screen-manager-container .new-screen-form-container form label input[type="number"] {
  width: 50%;
  margin-left: 25px;
}
.screen-manager-container .new-screen-form-container form label select {
  font-size: 2.5em;
  margin-left: 25px;
}
.screen-manager-container .new-screen-form-container form fieldset.inline label {
  display: inline;
  margin-right: 10px;
  margin-bottom: 10px;
}
.screen-manager-container .new-screen-form-container form fieldset.inline input[type="text"] {
  width: 20%;
  margin-left: 10px;
  margin-bottom: 10px;
}
.screen-manager-container .new-screen-form-container form fieldset.inline input[type="number"] {
  width: 20%;
  margin-left: 10px;
  margin-bottom: 10px;
}
.screen-manager-container .new-screen-form-container form button[type="submit"] {
  font-size: 2.5em;
}
/* SPRITE MANAGER */
.sprite-manager-container {
  margin-top: 25px;
}
.sprite-manager-container ul.sprite-list {
  list-style-type: none;
  list-style-position: outside;
  padding: 0px;
}
.sprite-manager-container ul.sprite-list .sprite-name-and-image {
  width: 60%;
  text-align: center;
  padding: 25px;
  border-radius: 20px;
  background-color: #00a8c6;
  border: 1px solid #009fbc;
  color: #f9f2e7;
  cursor: pointer;
  width: auto;
  float: left;
  margin: 0px 25px 25px 0px;
}
.sprite-manager-container ul.sprite-list .sprite-name-and-image:hover {
  background-color: #00bee0;
}
.sprite-manager-container ul.sprite-list .sprite-name-and-image:active {
  background-color: #0092ad;
  box-shadow: 0px 0px 2px 4px #007d93 inset;
}
.sprite-manager-container ul.sprite-list .sprite-name-and-image h4 {
  font-size: 2em;
  color: #f9f2e7;
}
.sprite-manager-container ul.sprite-list .sprite-name-and-image .sprite-first-frame-container {
  position: relative;
  margin-bottom: 15px;
}
.sprite-manager-container ul.sprite-list .sprite-name-and-image .sprite-first-frame-container .rendered-sprite-container {
  background-color: #ffffff;
}
.sprite-manager-container ul.sprite-list .sprite-name-and-image .sprite-details {
  font-size: 1em;
  color: #00d3f9;
}
.sprite-manager-container ul.sprite-list .sprite-name-and-image .sprite-details p {
  margin-bottom: 2px;
}
.sprite-manager-container ul.sprite-list .sprite-name-and-image ul.sprite-control-list {
  list-style-type: none;
  list-style-position: outside;
  padding: 0px;
}
.sprite-manager-container ul.sprite-list .sprite-name-and-image ul.sprite-control-list li {
  float: left;
  margin-left: 15px;
}
.sprite-manager-container .new-sprite-form-container {
  width: 60%;
  text-align: center;
  padding: 25px;
  border-radius: 20px;
  background-color: #40c0cb;
  border: 1px solid #38bdc9;
  color: #f9f2e7;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
.sprite-manager-container .new-sprite-form-container:hover {
  background-color: #54c7d0;
}
.sprite-manager-container .new-sprite-form-container:active {
  background-color: #34b3be;
  box-shadow: 0px 0px 2px 4px #2ea0aa inset;
}
.sprite-manager-container .new-sprite-form-container form label {
  font-size: 2.5em;
  display: block;
  margin: 0 auto 15px auto;
}
.sprite-manager-container .new-sprite-form-container form label input[type="text"] {
  width: 50%;
  margin-left: 25px;
}
.sprite-manager-container .new-sprite-form-container form label input[type="number"] {
  width: 50%;
  margin-left: 25px;
}
.sprite-manager-container .new-sprite-form-container form label select {
  font-size: 2.5em;
  margin-left: 25px;
}
.sprite-manager-container .new-sprite-form-container form fieldset.inline label {
  display: inline;
  margin-right: 10px;
  margin-bottom: 10px;
}
.sprite-manager-container .new-sprite-form-container form fieldset.inline input[type="text"] {
  width: 20%;
  margin-left: 10px;
  margin-bottom: 10px;
}
.sprite-manager-container .new-sprite-form-container form fieldset.inline input[type="number"] {
  width: 20%;
  margin-left: 10px;
  margin-bottom: 10px;
}
.sprite-manager-container .new-sprite-form-container form button[type="submit"] {
  font-size: 2.5em;
}
/* SPRITE EDITOR */
.sprite-editor-container .sprite-editor-navigation {
  background-color: #fbf6ef;
  padding: 10px 25px 10px 0px;
}
.sprite-editor-container .sprite-editor-navigation h4 {
  color: #e0bb81;
  display: inline;
  margin-right: 5px;
}
.sprite-editor-container .sprite-editor-navigation ul.sprite-editor-navigation-buttons {
  list-style-type: none;
  list-style-position: outside;
  padding: 0px;
}
.sprite-editor-container .sprite-editor-navigation ul.sprite-editor-navigation-buttons li {
  float: left;
  margin-left: 15px;
}
.sprite-editor-container .sprite-tool-container {
  background-color: #fbf6ef;
}
.sprite-editor-container .sprite-tool-container .sprite-frame-list-container ul.sprite-frame-list {
  list-style-type: none;
  list-style-position: outside;
  padding: 0px;
}
.sprite-editor-container .sprite-tool-container .sprite-frame-list-container ul.sprite-frame-list ul.sprite-frame-controls {
  list-style-type: none;
  list-style-position: outside;
  padding: 0px;
}
.sprite-editor-container .sprite-tool-container .sprite-frame-list-container ul.sprite-frame-list ul.sprite-frame-controls li {
  float: left;
  margin: 0px 5px 10px 0px;
}
.sprite-editor-container .sprite-tool-container .new-sprite-frame-form-container {
  padding: 10px;
}
.sprite-editor-container .sprite-tool-container .new-sprite-frame-form-container form label {
  font-size: 1.1em;
  display: block;
  margin: 0 auto 15px auto;
}
.sprite-editor-container .sprite-tool-container .new-sprite-frame-form-container form label input[type="text"] {
  width: 50%;
  margin-left: 25px;
}
.sprite-editor-container .sprite-tool-container .new-sprite-frame-form-container form label input[type="number"] {
  width: 50%;
  margin-left: 25px;
}
.sprite-editor-container .sprite-tool-container .new-sprite-frame-form-container form label select {
  font-size: 1.1em;
  margin-left: 25px;
}
.sprite-editor-container .sprite-tool-container .new-sprite-frame-form-container form fieldset.inline label {
  display: inline;
  margin-right: 10px;
  margin-bottom: 10px;
}
.sprite-editor-container .sprite-tool-container .new-sprite-frame-form-container form fieldset.inline input[type="text"] {
  width: 20%;
  margin-left: 10px;
  margin-bottom: 10px;
}
.sprite-editor-container .sprite-tool-container .new-sprite-frame-form-container form fieldset.inline input[type="number"] {
  width: 20%;
  margin-left: 10px;
  margin-bottom: 10px;
}
.sprite-editor-container .sprite-tool-container .new-sprite-frame-form-container form button[type="submit"] {
  font-size: 1.1em;
}
.sprite-editor-container .sprite-edit-context .sprite-edit-panel {
  margin-top: 15px;
  margin-bottom: 10px;
  overflow: scroll;
  position: relative;
}
.sprite-editor-container .sprite-edit-context .sprite-edit-panel .rendered-sprite-container {
  background-image: url('../img/sprite-editor-background.png');
}
.sprite-editor-container .sprite-edit-context ul.sprite-editor-tool-list {
  list-style-type: none;
  list-style-position: outside;
  padding: 0px;
  margin-top: 15px;
}
.sprite-editor-container .sprite-edit-context ul.sprite-editor-tool-list li {
  margin-bottom: 15px;
}
.sprite-editor-container .sprite-edit-context ul.sprite-editor-tool-list li button {
  width: 75%;
}
.sprite-editor-container .sprite-edit-context form.pallet-form input {
  width: 75%;
  margin-bottom: 15px;
}
/* SCREEN FLOW MANAGER */
/* INTERACTION MANAGER */
.interaction-manager-container .current-interaction-container {
  margin-top: 25px;
}
.interaction-manager-container .current-interaction-container .current-interaction-inner-container {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
  padding: 25px;
  border-radius: 20px;
  background-color: #ead1aa;
  border: 1px solid #e8cca2;
  color: #f9f2e7;
  cursor: pointer;
}
.interaction-manager-container .current-interaction-container .current-interaction-inner-container:hover {
  background-color: #efdcbe;
}
.interaction-manager-container .current-interaction-container .current-interaction-inner-container:active {
  background-color: #e5c695;
  box-shadow: 0px 0px 2px 4px #e0bb81 inset;
}
.interaction-manager-container .current-interaction-container .current-interaction-inner-container .current-interaction-toolbar .mapping-identifier {
  margin-left: 5px;
}
.interaction-manager-container .current-interaction-container .current-interaction-inner-container .current-interaction-toolbar ul {
  list-style-type: none;
  list-style-position: outside;
  padding: 0px;
}
.interaction-manager-container .current-interaction-container .current-interaction-inner-container .current-interaction-toolbar ul li {
  float: left;
  margin: 0px 5px 5px 0px;
}
.interaction-manager-container .interaction-list-container {
  margin-top: 25px;
}
.interaction-manager-container .interaction-list-container ul {
  list-style-type: none;
  list-style-position: outside;
  padding: 0px;
}
.interaction-manager-container .interaction-list-container ul li {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 60%;
  text-align: center;
  padding: 25px;
  border-radius: 20px;
  background-color: #00a8c6;
  border: 1px solid #009fbc;
  color: #f9f2e7;
  cursor: pointer;
}
.interaction-manager-container .interaction-list-container ul li:hover {
  background-color: #00bee0;
}
.interaction-manager-container .interaction-list-container ul li:active {
  background-color: #0092ad;
  box-shadow: 0px 0px 2px 4px #007d93 inset;
}
.interaction-manager-container .interaction-list-container ul li ul.interaction-mappings {
  list-style-type: none;
  list-style-position: outside;
  padding: 0px;
}
.interaction-manager-container .interaction-list-container ul li ul.interaction-mappings li {
  width: 60%;
  text-align: center;
  padding: 25px;
  border-radius: 20px;
  background-color: #00bee0;
  border: 1px solid #00b5d5;
  color: #f9f2e7;
  cursor: pointer;
  width: auto;
  margin: 0px 15px 15px 0px;
  float: left;
}
.interaction-manager-container .interaction-list-container ul li ul.interaction-mappings li:hover {
  background-color: #00d3f9;
}
.interaction-manager-container .interaction-list-container ul li ul.interaction-mappings li:active {
  background-color: #00a8c6;
  box-shadow: 0px 0px 2px 4px #0092ad inset;
}
.interaction-manager-container .interaction-list-container ul li ul.interaction-mappings li .mapping-identifier {
  margin-left: 5px;
}
.interaction-manager-container .new-interaction-form-container .new-interaction-form-inner-container {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
  padding: 25px;
  border-radius: 20px;
  background-color: #40c0cb;
  border: 1px solid #38bdc9;
  color: #f9f2e7;
  cursor: pointer;
}
.interaction-manager-container .new-interaction-form-container .new-interaction-form-inner-container:hover {
  background-color: #54c7d0;
}
.interaction-manager-container .new-interaction-form-container .new-interaction-form-inner-container:active {
  background-color: #34b3be;
  box-shadow: 0px 0px 2px 4px #2ea0aa inset;
}
.interaction-manager-container .new-interaction-form-container .new-interaction-form-inner-container form label {
  font-size: 2.5em;
  display: block;
  margin: 0 auto 15px auto;
}
.interaction-manager-container .new-interaction-form-container .new-interaction-form-inner-container form label input[type="text"] {
  width: 50%;
  margin-left: 25px;
}
.interaction-manager-container .new-interaction-form-container .new-interaction-form-inner-container form label input[type="number"] {
  width: 50%;
  margin-left: 25px;
}
.interaction-manager-container .new-interaction-form-container .new-interaction-form-inner-container form label select {
  font-size: 2.5em;
  margin-left: 25px;
}
.interaction-manager-container .new-interaction-form-container .new-interaction-form-inner-container form fieldset.inline label {
  display: inline;
  margin-right: 10px;
  margin-bottom: 10px;
}
.interaction-manager-container .new-interaction-form-container .new-interaction-form-inner-container form fieldset.inline input[type="text"] {
  width: 20%;
  margin-left: 10px;
  margin-bottom: 10px;
}
.interaction-manager-container .new-interaction-form-container .new-interaction-form-inner-container form fieldset.inline input[type="number"] {
  width: 20%;
  margin-left: 10px;
  margin-bottom: 10px;
}
.interaction-manager-container .new-interaction-form-container .new-interaction-form-inner-container form button[type="submit"] {
  font-size: 2.5em;
}
