div.navigation-container.clearfix
  ul.navigation-list
    li
      button.btn.btn-primary.icon-large.icon-home( type = 'button', data-bind = 'click : openDashboard, attr : { disabled : isDashboardMode }' )
    li
      button.btn.btn-primary.icon-large.icon-gamepad( type = 'button', data-bind = 'click : openScreenManager, attr : { disabled : isScreenManagerMode }' )
