div.navigation-container.clearfix
  button.pull-right.btn.btn-success.icon-large.icon-save( type = 'button', data-bind = 'click : $root.saveGameBuilder' )
  ul.navigation-list
    li
      button.btn.btn-primary.icon-large.icon-home( type = 'button', data-bind = 'click : openDashboard, attr : { disabled : isDashboardMode }' )
    li
      button.btn.btn-primary.icon-large.icon-gamepad( type = 'button', data-bind = 'click : openScreenManager, attr : { disabled : isScreenManagerMode }' )
    li
      button.btn.btn-primary.icon-large.icon-film( type = 'button', data-bind = 'click : openSpriteManager, attr : { disabled : isSpriteManagerMode }' )
    li
      button.btn.btn-primary.icon-large.icon-ellipsis-horizontal
    li
      button.btn.btn-primary.icon-large.icon-keyboard( type = 'button', data-bind = 'click : openInteractionManager, attr : { disabled : isInteractionManagerMode }' )
    li
      button.btn.btn-primary.icon-large.icon-question-sign
    li
      button.btn.btn-primary.icon-large.icon-question-sign
    li
      button.btn.btn-primary.icon-large.icon-question-sign
    li
      button.btn.btn-primary.icon-large.icon-question-sign


