div.game-builder-navigation( data-bind = 'visible : isNotDashboardMode' )
  include gameBuilderNavigation
div.game-builder-navigation( data-bind = 'visible : isDashboardMode' )
  include dashboard/navigation
section.dashboard( data-bind = 'visible : isDashboardMode' )
  include dashboard/dashboard
section.screen-manager( data-bind = 'visible : isScreenManagerMode' )
  include screenManager/screenManager
section.sprite-manager( data-bind = 'visible : isSpriteManagerMode' )
  include spriteManager/spriteManager
section.screen-flow-manager( data-bind = 'visible : isScreenFlowManagerMode' )
  include screenFlowManager/screenFlowManager
section.interaction-manager( data-bind = 'visible : isInteractionManagerMode' )
  include interactionManager/interactionManager
