div.dashboard-container.container
  h1.game-title( data-bind = 'with : game' )
    span( data-bind = 'text : name' )
  div.row
    div.col-md-4
      div.dashboard-button-1( data-bind = 'click : openScreenManager' )
        i.icon-gamepad
    div.col-md-4
      div.dashboard-button-2( data-bind = 'click : openSpriteManager' )
        i.icon-film
    div.col-md-4
      div.dashboard-button-3( data-bind = 'click : openScreenFlowManager' )
          i.icon-ellipsis-horizontal
  div.row
    div.col-md-4
      div.dashboard-button-2( data-bind = 'click : openInteractionManager' )
        i.icon-keyboard
    div.col-md-4
      div.dashboard-button-3( data-bind = 'click : openClockManager' )
        i.icon-time
    div.col-md-4
      div.dashboard-button-4
          i.icon-question-sign
  div.row
    div.col-md-4
      div.dashboard-button-3
        i.icon-question-sign
    div.col-md-4
      div.dashboard-button-4
        i.icon-question-sign
    div.col-md-4
      div.dashboard-button-5
          i.icon-question-sign