div.navigation-container.clearfix
  ul.navigation-list
    li
      button.btn.btn-primary.icon-large.icon-chevron-left( type = 'button', data-bind = 'click : $root.gameListMode' )
    li
      button.btn.btn-primary.icon-large.icon-save( type = 'button', data-bind = 'click : $root.saveGameBuilder' )