div.navigation-container.clearfix
  button.btn.btn-success.icon-large.icon-save.pull-right( type = 'button', data-bind = 'click : $root.saveGameBuilder' )
  a.pull-right.btn.btn-success( data-bind = '{ attr : { href : exportHref } }' ) 
    i.icon-large.icon-download
  ul.navigation-list
    li
      button.btn.btn-primary.icon-large.icon-chevron-left( type = 'button', data-bind = 'click : $root.gameListMode' )

